#!/bin/bash
# rsync backup file -- Managed by Ansible, please don't edit manually
#
# {{ ansible_managed }}

{% for share in samba_shares %}
mount /data/{{ share.name }}-backup && \
  rsync -va /data/{{ share.name }}/ /data/{{ share.name }}-backup/ 
umount /data/{{ share.name }}-backup

{% endfor %}
