[Unit]
Description=Nightly Borg backup timer for {{ inventory_hostname }}

[Timer]
OnCalendar=*-*-* {{ borg_schedule_time }}:00
RandomizedDelaySec=600
Persistent=true

[Install]
WantedBy=timers.target
